<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--inheritInChildApplications="false"-->
  <location path=".">
    <system.web>
      <httpRuntime maxRequestLength="1048576" />
    </system.web>
    <system.webServer>
               <security>
        <requestFiltering>
          <!-- This will handle requests up to 200MB -->
          <!--209715200-->
          <!--1GB-->
          <!--1073741824-->
          <!--100MB-->
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
